info:
  title: Rocka Payments
  version: 1.0.0
  description: ''
  contact:
    email: support@rocka.live
openapi: 3.0.1
paths:
  "/api/payments/logo":
    post:
      operationId: Payment_LogoUrl
      summary: Display customised payment buttons
      description: ''
      tags:
        - Open banking payments
      requestBody:
        content:
          application/*+json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: 'Payment currency. Currently accepted: {GBP, EUR}'
                customerId:
                  type: string
                  description: Customer's unique identifier in your records.
                email:
                  type: string
                  description: Customer's email address.
                ipAddress:
                  type: string
                  description: Customer's IP address.
                country:
                  type: string
                  description: Customer's country's ISO 3166 code. For example, DE for Germany
                    or FR for France.
              required:
              - currency
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: Response_Logo
                description: Information for the button appearance configuration. Contains SVG
                  logo url, type {country, bank}, id and display name.
                x-examples:
                  'Example: GB':
                    value:
                      url: https://rocka.blob.core.windows.net/logo-button/gb.svg
                      type: country
                      id: gb
                      displayName: UNITED KINGDOM
                  'Example: Lloyds Bank':
                    value:
                      country: GB
                      type: bank
                      id: ob-lloyds
                      displayName: Lloyds
                      url: https://rocka.blob.core.windows.net/logo-button/ob-lloyds.svg
                properties:
                  url:
                    type: string
                    description: URL to the SVG logo that will be part of the button.
                  type:
                    enum:
                    - bank
                    - country
                    type: string
                    x-examples:
                      example-1:
                        value: bank
                    description: Button type (`bank` or `country`).
                  id:
                    type: string
                    description: Payment option choice. For example, country code or bank ID.
                  displayName:
                    type: string
                    description: Alternative display name for the payment option. For example,
                      United Kingdom or Lloyds Bank.
                  country:
                    type: string
                    description: Country's ISO 3166 code (only for `bank` buttons).
                required:
                - type
          description: ''
      security:
      - APItoken: []
  "/api/payments":
    post:
      operationId: Payment_PaymentUrl
      tags:
        - Open banking payments
      requestBody:
        content:
          application/*+json:
            schema:
              type: object
              title: Request_Payment
              description: Information for the new payment creation
              x-examples:
                Single GBP payment:
                  value:
                    amount: 1
                    currency: GBP
                    returnUrl: https://soundflare.com/order/20039471/complete
                    webhookUrl: https://api.soundflare.com/order/20039471/complete
                    shopId: d0c3ccd9-162c-497e-808b-e769aea89c58
                    description: Membership on SoundFlare
                    paymentId: '20039471'
                    customerId: 2145-a12
                    ipAddress: 145.12.55.11
                Single EUR payment:
                  value:
                    amount: 1
                    currency: EUR
                    returnUrl: https://soundflare.com/order/20039471/complete
                    webhookUrl: https://api.soundflare.com/order/20039471/complete
                    shopId: d0c3ccd9-162c-497e-808b-e769aea89c58
                    description: Membership on SoundFlare
                    paymentId: '20039471'
                    customerId: 2145-a1223
              properties:
                amount:
                  format: decimal
                  type: number
                  description: Payment amount in decimal format (e.g. 999.99).
                currency:
                  type: string
                  description: 'Payment currency. Currently accepted: {EUR, GBP, BGN, BRL, CAD, DKK, HUF, NOK, RON, SEK}.'
                  enum:
                    - EUR
                    - GBP
                    - BGN
                    - BRL
                    - CAD
                    - DKK
                    - HUF
                    - NOK
                    - RON
                    - SEK
                returnUrl:
                  type: string
                  description: The URL the customer is redirected to once the payment is completed.
                paymentId:
                  type: string
                  description: Order identifier in your records.
                webhookUrl:
                  type: string
                  description: Notification URL to which Rocka sends webhooks whenever the
                    payment's status changes.
                shopId:
                  type: string
                  description: Your website's identifier in Rocka's records. This parameter
                    is useful if you have more than one website.
                description:
                  type: string
                  description: Short payment description for the customer.
                customerId:
                  type: string
                  description: Customer's unique identifier in your records.
                email:
                  type: string
                  description: Customer's email address.
                providerId:
                  type: string
                  description: If used, the payment will be initiated directly with the defined
                    provider. Recommended to use in pair with /providers/top method.
                ipAddress:
                  type: string
                  description: Customer's IP Address.
                iban:
                  type: string
                  description: Customer's IBAN.
              required:
              - amount
              - currency
              - description
              - returnUrl
              - paymentId
            examples:
              Single EUR payment:
                value:
                  amount: 1.24
                  currency: EUR
                  customerId: CID-012456789-1
                  description: Order 1234-DS-1234
                  shopId: d0c3ccd9-162c-497e-808b-e769aea89c58
                  paymentId: 119318-123-test-1423
                  returnUrl: https://myshop.com/returnurl
                  webhookUrl: https://myshop.com/hookurl
              GBP Payment:
                value:
                  amount: 1
                  currency: GBP
                  customerId: GR-12456
                  description: Order 1412-DS-2
                  email: string
                  shopId: string
                  ipAddress: string
                  paymentId: 119318-123dsa-14
                  returnUrl: https://myshop.com/return
                  webhookUrl: https://myshop.com/hook
        required: true
        description: ''
      responses:
        '200':
          content:
            application/json:
              schema:
                  properties:
                    id:
                      type: string
                      description: The payment's ID.
                    url:
                      type: string
                      description: The link to the payment.
                  type: object
                  x-internal: false
          description: ''
        '400':
          description: One of the required parameters is missing or has an incorrect
            value.
      security:
      - APItoken: []
      x-codegen-request-body-name: request
      summary: Create a payment
      description: ''
  "/api/payments/{id}":
    get:
      operationId: Payment_Get
      tags:
        - Open banking payments
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: The payment's ID, which is returned by the payment creation
            request and can also be found in your Rocka Hub.
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                  type: object
                  description: Response for the particular payment status
                  title: Response for payment status
                  properties:
                    amount:
                      format: decimal
                      type: number
                      description: Payment amount
                    currency:
                      type: string
                      description: Payment currency
                    id:
                      type: string
                      description: Payment ID in Rocka's systems.
                    status:
                      enum:
                      - New
                      - Processing
                      - Failed
                      - Awaiting confirmation
                      - Done
                      type: string
                      x-examples: {}
                      description: Payment status.
                    description:
                      type: string
                      description: Short payment description for the customer.
                  required:
                  - amount
                  - currency
                  - id
                  - status
          description: ''
      security:
      - APItoken: []
      summary: Check payment status
      description: ''
  "/api/providers/top":
    get:
      operationId: Get_Providers_Top
      tags:
        - Open banking payments
      parameters:
      - in: query
        name: country
        schema:
          type: string
          default: FR
        description: Country's ISO 3166 code. For example, DE for Germany or FR for
          France.
        required: true
      - in: query
        name: count
        schema:
          type: integer
          default: 5
        description: Number of banks to retrieve. Optional.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                    type: object
                    x-examples:
                      example-1:
                        value:
                          country: string
                          id: string
                          isLoadAccounts: true
                          name: string
                    title: ProviderInfo
                    description: Providers information
                    properties:
                      id:
                        type: string
                        description: The bank's unique ID in Rocka's records.
                      isInstant:
                        type: boolean
                        description: Indicates whether this bank supports instant payments.
                      name:
                        type: string
                        description: The bank's name that is displayed to the customer.
                      logoUrl:
                        type: string
                        description: Link to the bank's logo.
                      iin:
                        type: integer
                        description: The bank's IIN.
                    required:
                    - id
                    - isInstant
                    - name
                    - logoUrl
          description: ''
      security:
      - APItoken: []
      x-internal: false
      summary: Get the list of top banks
      description: ''
    parameters: []





security:
- APItoken: []
servers:
- url: https://api.stage.rocka.live
  description: Sandbox
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
x-readme:
  explorer-enabled: true
  proxy-enabled: true


  securitySchemes:
    APItoken:
      description: To get your own API keys, complete your onboarding on https://hub.rocka.live.
      in: header
      name: x-api-key
      type: apiKey
      x-default: 24d0034-5a83-47d5-afa0-cca47298c516